
<p id="notice"><%= notice %></p>

<div class="property-show">
    <div class="property-header">
        <h2><%= @property.address %></h2>

        <h3>
            <% if @property.for_sale == true %>
                EN VENTA
            <% else %>
                EN ARRIENDO
            <% end %>
        </h3>

        <h4>$ <%= number_with_delimiter(@property.price, delimiter: ".") %></h4>
    </div>
    
    <div class="property-container">

        <div class="property-specs">
            <div class="details">
                <div>   
                    <h5>Comuna:</h5>
                    <p><%= @property.district %></p>
                </div>
                <div>
                    <h5>Superficie Total</h5>
                    <p><%= number_with_delimiter(@property.total_area, delimiter: ".") %> m2</p>
                </div>
                <div>
                    <h5>Superficie Construida</h5>
                    <p><%= number_with_delimiter(@property.house_area, delimiter: ".") %> m2</p>
                </div>
                <div>
                    <h5>Nº de Dormitorios:</h5>
                    <p><%= @property.rooms %></p>
                </div>
                <div>
                    <h5>Nº de Baños:</h5>
                    <p><%= @property.toilets %></p>
                </div>
                <div>
                    <h5>Piscina:</h5>
                    <p>
                        <% if @property.pool == true %>
                            SI
                        <% else %>
                            NO
                        <% end %>
                    </p>
                </div>
                <div>
                    <h5>Bodega:</h5>
                    <p>
                        <% if @property.cellar == true %>
                            SI
                        <% else %>
                            NO
                        <% end %>
                    </p>
                </div>
                <div>
                    <h5>Estacionamientos:</h5>
                    <p><%= @property.parking %></p>
                </div>
                <div>
                    <h5>Gastos Comunes:</h5>
                    <p>$ <%= number_with_delimiter(@property.common_expenses, delimiter: ".") %> (aprox)</p>
                </div>
                <div>
                    <h5>Amoblado:</h5>
                    <p>
                        <% if @property.furnished == true %>
                            SI
                        <% else %>
                            NO
                        <% end %>
                    </p>
                </div>
            </div>

            <div class="price">
                <div>
                    <h2>VALOR</h2>
                    <p><%= number_with_delimiter(@property.price/@uf_price, delimiter: ".") %> UF</p>
                </div>
                <div>
                    <p>$ <%= number_with_delimiter(@property.price, delimiter: ".") %></p>
                </div>
            </div>
        </div>

        <div class="property-image">
            <div class="property-images-slider">
                <div>                    
                    <img src="<%= @property.image%>" alt="image" style="height: 600px;margin: auto;">
                </div>
                <div>                
                    <img src="<%= @property.imagetwo%>" alt="imagetwo" style="height: 600px;margin: auto;">
                </div>
                <div>                    
                    <img src="<%= @property.imagethree%>" alt="imagethree" style="height: 600px;margin: auto;">
                </div>
                <div>                    
                    <img src="<%= @property.imagefour %>" alt="imagefour" style="height: 600px;margin: auto;">
                </div>
                <div>                    
                    <img src="<%= @property.imagefive %>" alt="imagefive" style="height: 600px;margin: auto;">
                </div>
            </div>
        </div>

        <div class="property-footer">
            <div class="description">
                <h3>COMENTARIOS Y ATRIBUTOS DE LA PROPIEDAD</h3>
                <p><%= @property.description %></p>
            </div>

            <div class="contact-buttons">
                <%= link_to pages_contact_path do %>
                    <button>SOLICITAR VISITA</button>
                <% end %>
                <%= link_to pages_contact_path do %>
                    <button>SOLICITAR INFO</button>
                <% end %>
                <%= link_to pages_contact_path do %>
                    <button>CONTACTO</button>
                <% end %>
            </div>
        </div>
    </div>

    <p><%= link_to 'Volver', properties_path %></p>
    <p><%= link_to 'Editar Propiedad', edit_property_path(@property) %></p>


</div>


<script>
$(document).ready(function(){
    $('.property-images-slider').slick({
        dots: true,
        fade: true,
        speed: 1000,
        arrows: false,
    });
});
</script>





