
<p id="notice"><%= notice %></p>

<div class="property-show">
    <div>
        <h2><%= @property.address %></h2>

        <h3><%= @property.description %></h3>

        <h4>$ <%= number_with_delimiter(@property.price, delimiter: ".") %></h4>
    </div>
    
    <div class="property-container">
        <div class="property-specs">
            <div class="details">
                <div>   
                    <h5>Comuna:</h5>
                    <p><%= @property.district %></p>
                </div>
                <div>
                    <h5>Superficie Total</h5>
                    <p><%= @property.total_area %></p>
                </div>
                <div>
                    <h5>Nº de Dormitorios:</h5>
                    <p><%= @property.rooms %></p>
                </div>
                <div>
                    <h5>Nº de Baños:</h5>
                    <p><%= @property.toilets %></p>
                </div>
            </div>

            <div class="price">
                <div>
                    <h2>VALOR</h2>
                    <p><%= number_with_delimiter(@property.price/24000, delimiter: ".") %> UF</p>
                </div>
                <div>
                    <p>$ <%= number_with_delimiter(@property.price, delimiter: ".") %></p>
                </div>
            </div>
        </div>

        <div class="property-image">
            <%= image_tag @property.image_url %>
        </div>

        <div class="property-footer">
            <div class="description">
                <h3>COMENTARIOS Y ATRIBUTOS DE LA PROPIEDAD</h3>
                <p><%= @property.description %></p>
            </div>

            <div class="contact-buttons">
                <%= link_to pages_contact_path do %>
                    <button>SOLICITAR VISITA</button>
                <% end %>
                <%= link_to pages_contact_path do %>
                    <button>SOLICITAR INFO</button>
                <% end %>
                <%= link_to pages_contact_path do %>
                    <button>CONTACTO</button>
                <% end %>
            </div>
        </div>
    </div>

    <p><%= link_to 'Volver', properties_path %></p>
    <p><%= link_to 'Editar Propiedad', edit_property_path(@property) %></p>
</div>





