<div class="properties-index">

	<h1>TERRENOS EN ARRIENDO</h1>

	<% if @terrains_for_rent.count == 0 %>
		<h2>No hay Terreno en Arriendo Aun!</h2>
		<h3>Vueva Pronto =)</h3>
	<% else %>
		<% @terrains_for_rent.each do |property| %>
		<div class="list-container">    
		    <img src="<%= property.image %>" alt="image">

		    <div class="properties-info">
		        <div class="properties-title">
		            <h2><%= property.address %>, <%= property.district %>, <%= property.city %></h2>
		        </div>

		        <div class="properties-specs">
		            <p>Precio: $ <%= number_with_delimiter(property.price, delimiter: ".") %></p>
		            <p>Superficie Total: <%= number_with_delimiter(property.total_area, delimiter: ".") %> m2</p>
		            <p>Dormitorios: <%= property.rooms %></p>
		            <p>Baños: <%= property.toilets %></p>
		        </div>
	            
	            <div class="crud-buttons">
	                <%= link_to property do%>
	                <button>VER PROPIEDAD</button>
	                <% end %>
	                <% if admin_signed_in? %>     
		                <%= link_to 'Editar', edit_property_path(property), class: "edit-button" %>
		                <%= link_to 'Destruir', property, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
	                <% end %>
	            </div>
		    </div>
		</div>
		<% end %>
	<% end %>

</div>