<div class="body-container">
	<div class="main">
		<div class="main-slider">
			<div style="background-image: url(https://s3-us-west-2.amazonaws.com/ecoprop/banca.jpg)">
				<h2>CONFIANZA</h2>	
			</div>
			<div style="background-image: url(https://s3-us-west-2.amazonaws.com/ecoprop/hojas.jpg)">
				<h2>PRESTIGIO</h2>		
			</div>
			<div style="background-image: url(https://s3-us-west-2.amazonaws.com/ecoprop/calle.jpg)">		
				<h2>COMODIDAD</h2>
			</div>
		</div>
		<div class="contactar">
			<div class="contactar-title">
				<h3>QUIERES QUE TE BUSQUEMOS UNA PROPIEDAD PARA TUS NECESIDADES?</h3>
			</div>
			<div class="contactar-button">
			<%= link_to pages_contact_path do %><button class="link">CONTACTAR</button>
			<% end %>
			</div>
		</div>
	</div>
	
	<% if admin_signed_in? %>
	<div class="edit-uf">
		<h2>Actualizar Precio UF</h2>
		<%= render 'uf_prices/form' %>
	</div>
	<% end %>
	
	<h2>PROPIEDADES DESTACADAS</h2>	


	<div class="propiedades-destacadas" id="destacadas">
		<% @property_highlight.each do |i| %>
			<%= link_to i do %>
			<div class="highlight_property_thumbnail">
				<%= image_tag i.image_url, class: "highlight_image" %>
				<h3> 
					<% if i.house == true %>
						CASA
					<% elsif i.apartment == true %>
						DEPARTAMENTO
					<% elsif i.terrain == true %>
						TERRENO
					<% end %>  

					<% if i.for_sale == true %>
		                EN VENTA
		            <% else %>
		                EN ARRIENDO
		            <% end %>
	            </h3>
				<p><%= i.district %>, <%= i.city %></p>
				<p><%= i.total_area %> m2</p>
			</div>
			<% end %>
		<% end %>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.main-slider').slick({
			draggable: true,
			dots: true,
			fade: true,
			speed: 1000,
			arrows: false,
			autoplay: true
		});

		$('.propiedades-destacadas').slick({
			slidesToShow: 3,
			draggable: true,
			autoplay: true
		});

		$('.comunas').slick({
			slidesToShow: 3,
			draggable: true,
		});

	});
</script>