<div class="properties-index">

	<h1>DEPARTAMENTOS EN VENTA</h1>

	<% if @apartments_for_sale.count == 0 %>
		<h2>No hay Departamentos en Venta Aun!</h2>
		<h3>Vueva Pronto =)</h3>
	<% else %>
		<% @apartments_for_sale.each do |property| %>
		<div class="list-container">    
		    <img src="https://s3-us-west-2.amazonaws.com/ecoprop/campo.jpg" alt="casa-campo">

		    <div>
		        <div class="properties-title">
		            <h2><%= property.address %>, <%= property.district %>, <%= property.city %></h2>
		            <h3><%= property.description %></h3>
		        </div>

		        <div class="properties-specs">
		            <p>Precio: <%= number_with_delimiter(property.price/24000, delimiter: ".") %> UF</p>
		            <p>Superficie Total: <%= property.total_area %></p>
		            <p>Dormitorios: <%= property.rooms %></p>
		            <p>Baños: <%= property.toilets %></p>
		        </div>

			    <%= link_to property do %>
			        <button>VER PROPIEDAD</button>
			    <% end %>

				<% if admin_signed_in? %>
			        <%= link_to 'Edit', edit_property_path(property) %>
			        <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
		        <% end %>
		    </div>
		</div>
		<% end %>
	<% end %>

</div>