<footer>
	<div class="a">
		<<img src="https://s3-us-west-2.amazonaws.com/ecoprop/logo.png" alt="logo">
	</div>

	<div class="b">
		<h4>ECOPROP</h4>
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Quienes Somos", pages_about_path %></li>
			<li><%= link_to "Equipo", "#" %></li>
		</ul>
	</div>

	<div class="c">
		<h4>ATENCION AL CLIENTE</h4>
		<ul>
			<li><%= link_to "Contacto", pages_contact_path %></li>
			<li><%= link_to "Confiar Propiedad", "#" %></li>
			<li><%= link_to "Trabaja con nosotros", "#" %></li>
		</ul>
	</div>

	<div class="d">
		<address>
			Direccion: Dario Urzua 1650, of 303 <br>	
			Fono: +56 8 84459749 <br>
			Email: contacto@ecoprop.cl
		</address>
	</div>

	<div class="e">
		<div>
			<h4>SIGUENOS</h4>
		</div>
		<div class="icons">
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/facebook.png" alt="facebook-logo">
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/email.png" alt="email-logo">
		</div>
	</div>
</footer>