<nav>
	<div class="logo"><img src="https://s3-us-west-2.amazonaws.com/ecoprop/logo.png" alt="logo"></div>

	<div class="nav-links">
		<div class="dropdown">
			<%= link_to root_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">INICIO</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
			<%= link_to pages_about_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">QUIENES SOMOS</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
		  <div class="dropdown-container">
		    <p class="dropdown-button">EN VENTA</p>
		    <ul class="dropdown-menu dropdown-select">
		      <li><%= link_to "Todos", properties_path %></li>
		      <li><%= link_to "Casas", sales_house_path %></li>
		      <li><%= link_to "Departamentos", sales_apartment_path %></li>
		      <li><%= link_to "Terrenos", sales_terrain_path %></li>
		    </ul>
		  </div>
		</div>

		<div class="dropdown">
		  <div class="dropdown-container">
		    <p class="dropdown-button">EN ARRIENDO</p>
		    <ul class="dropdown-menu dropdown-select">
		      <li><%= link_to "Todos", root_path %></li>
		      <li><%= link_to "Casas", rents_house_path %></li>
		      <li><%= link_to "Departamentos", rents_apartment_path %></li>
		      <li><%= link_to "Terrenos", rents_terrain_path %></li>
		    </ul>
		  </div>
		</div>

		<div class="dropdown">
			<%= link_to pages_contact_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">CONTACTO</p>
			</div>
			<% end %>
		</div>
	</div>


</nav>


<script>
	$(function(){
		$('#menu').slicknav();
	});
</script>

<script>
	$(document).ready(function() {
	  $(".dropdown-button").click(function() {
	    var $button, $menu;
	    $button = $(this);
	    $menu = $button.siblings(".dropdown-menu");
	    $menu.toggleClass("show-menu");
	    $menu.children("li").click(function() {
	      $menu.removeClass("show-menu");
	      $button.html($(this).html());
	    });
	  });
	});
</script>