
<nav>
	<div class="logo">
	<%= link_to root_path do %>
		<img src="https://s3-sa-east-1.amazonaws.com/ecoprop-images/ecoprop-high/logo.png" alt="logo">
	<% end %>
	</div>

	<% if admin_signed_in? %>
	<div class="nav-links" id="admin-nav">
		
		<div class="dropdown">
			<%= link_to root_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">INICIO</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
		  <div class="dropdown-container">
		    <p class="dropdown-button">EN VENTA</p>
		    <ul class="dropdown-menu dropdown-select" id="menu">

				<%= link_to sales_index_path do %>
					<li>Todos</li>
				<% end %>

				<%= link_to sales_house_path do %>
					<li>Casas</li>
				<% end %>

				<%= link_to sales_apartment_path do %>
					<li>Departamentos</li>
				<% end %>

				<%= link_to sales_terrain_path do %>
					<li>Terreno</li>
				<% end %>
		    </ul>
		  </div>
		</div>

		<div class="dropdown">
		  <div class="dropdown-container">
		    <p class="dropdown-button">EN ARRIENDO</p>
		    <ul class="dropdown-menu dropdown-select">

				<%= link_to rents_index_path do %>
					<li>Todos</li>
				<% end %>

				<%= link_to rents_house_path do %>
					<li>Casas</li>
				<% end %>

				<%= link_to rents_apartment_path do %>
					<li>Departamentos</li>
				<% end %>

				<%= link_to rents_terrain_path do %>
					<li>Terreno</li>
				<% end %>
		    </ul>
		  </div>
		</div>

		<div class="dropdown">
			<%= link_to pages_panel_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button" style="background:blue;">MENSAJES</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
			<%= link_to new_property_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button" style="background:green;">CREAR PROPIEDAD</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
			<%= link_to destroy_admin_session_path, :method => :delete do %>
			<div class="dropdown-container">
				<p class="dropdown-button" style="background:red;">CERRAR SESION</p>
			</div>
			<% end %>
		</div>


	</div>

	<% else %>

	<div class="nav-links">
		<div class="dropdown">
			<%= link_to root_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">INICIO</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
			<%= link_to pages_about_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">QUIENES SOMOS</p>
			</div>
			<% end %>
		</div>

		<div class="dropdown">
		  <div class="dropdown-container">
		    <p class="dropdown-button">EN VENTA</p>
		    <ul class="dropdown-menu dropdown-select" id="menu">

				<%= link_to sales_index_path do %>
					<li>Todos</li>
				<% end %>

				<%= link_to sales_house_path do %>
					<li>Casas</li>
				<% end %>

				<%= link_to sales_apartment_path do %>
					<li>Departamentos</li>
				<% end %>

				<%= link_to sales_terrain_path do %>
					<li>Terreno</li>
				<% end %>
		    </ul>
		  </div>
		</div>

		<div class="dropdown">
		  <div class="dropdown-container">
		    <p class="dropdown-button">EN ARRIENDO</p>
		    <ul class="dropdown-menu dropdown-select">

				<%= link_to rents_index_path do %>
					<li>Todos</li>
				<% end %>

				<%= link_to rents_house_path do %>
					<li>Casas</li>
				<% end %>

				<%= link_to rents_apartment_path do %>
					<li>Departamentos</li>
				<% end %>

				<%= link_to rents_terrain_path do %>
					<li>Terreno</li>
				<% end %>
		    </ul>
		  </div>
		</div>

		<div class="dropdown">
			<%= link_to pages_contact_path do %>
			<div class="dropdown-container">
				<p class="dropdown-button">CONTACTO</p>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>



</nav>


<script>
	$(function(){
		$('#menu').slicknav();
	});
</script>

<script>
	$(document).ready(function() {
	  $(".dropdown-button").click(function() {
	    var $button, $menu;
	    $button = $(this);
	    $menu = $button.siblings(".dropdown-menu");
	    $menu.toggleClass("show-menu");
	    $menu.children("li").click(function() {
	      $menu.removeClass("show-menu");
	      $button.html($(this).html());
	    });
	  });
	});
</script>