<nav>
	<div class="logo"><img src="/assets/logo.png" alt="logo"></div>

	<div class="nav-links">
		<ul>
			<li><%= link_to "INICIO", root_path %></li>
			<li><%= link_to "QUIENES_SOMOS", pages_about_path %></li>
			<li><%= link_to "CASAS", "#" %></li>
			<li><%= link_to "DEPARTAMENTOS", "#" %></li>
			<li><%= link_to "TERRENOS", "#" %></li>
		</ul>

		<div>
			<ul>
				<li><%= link_to "CONTACTO", pages_contact_path %></li>
			</ul>
		</div>
	</div>
</nav>